header {
  text-align: center;
  font-family: "Poppins";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-bridge.jpeg");
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}

h1 {
  font-size: 94px;
  font-weight: 700;
  line-height: 144px;
  margin: 20px 0;
}

h2 {
  font-size: 33px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 70px;
}

h3 {
  font-size: 22px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.learn-more-button {
  padding: 16px 32px;
  background-color: white;
  border: none;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.learn-more-button:hover {
  background-color: rgba(217, 216, 216, 0.827);
}
