header {
  text-align: center;
  font-family: "Poppins";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-bridge.jpeg");
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}

h1 {
  font-size: 94px;
  font-weight: 700;
  line-height: 144px;
  margin: 20px 0;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 60px;
}

h3 {
  font-size: 22px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
